/*formatting the Navbar*/
nav{
    display:flex;
    position: sticky;
    top:0;
    justify-content:space-between;
    background-color: white;
}
/* nav , nav * {
    border:solid 1px rgb(0, 0, 0);
} */
nav h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    list-style-type:none;
    padding:0px;
    display:flex;
}
nav li{
    /* padding: 10px; */
    margin: auto 0;
}

nav button{
    background-color: transparent;
    border: none;
    color:darkblue;
}



.container *{
    /* border:solid 1px black; */
    padding: 3px;
}
/* Fonts */
.container * :not(i):not(h1):not(h2):not(h3):not(h4){
    font-family: Arial, sans-serif;
}

.container{
    background-color: #f2f2f2;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px; */
}

h1, h2, h3, h4, .username{
    padding: 0;
    margin:0;
    font-family: 'Comfortaa', sans-serif;
}

/*formating the suggestion box*/
.suggestions-section{
    /* justify-content: flex-end; */
    float: right;
    /* background-color: white; */
    position: sticky;
    top: 11vh;
}
#personal{
    display: flex;
    justify-content: left;
    /* padding:10px; */
}

#personal .username{
    display: flex;
    justify-content: center;
    align-items: center;
}

#personal img{
    border-radius: 50%;
}

.suggestions-section i{
    opacity: 70%;
}

.suggestions ul{
    list-style-type: none;
    /* margin-top:4px; */
}

.suggestion{
    /* height:18%;
    width:96%;
    margin:2px;
    padding:2px; */
    display: flex;
    align-items: center;
    margin:0 auto;
}

.follow-button{
    background-color: transparent;
    border: none;
    color:darkblue;
}

.suggestion img{
    border-radius: 50%;
}

/*formatting story bar*/
.stories{
    /* display: flex; 
    justify-content: flex-start; */
    /* height:110px; */
    /* float: right; */
    /* align-self: center; */
    /* margin: 0 auto; */
    align-content: left;
    width: 60%;
    padding-top: 3vh;
    padding-left: 4vw;
    /* background-color: white; */
}
.stories ul{
    display: inline-block;
    list-style-type: none;
    align-self: center;
    margin: 0 auto;
    background-color: white;
    width:99%;
    /* height:100px; */
    /* margin:2px; */
}
.stories li{
    /* width:75px;
    height:90px; */
    /* display: flex; */
    float: left;
    margin: 0 auto;
    text-align: center;
    /* padding: 4px;
    margin:0px 2px; */
}
.stories img{
    border-radius: 50%;
    margin:0 auto;
}



.post-section{
    /* margin-top:10px;
    width:66%; */
    /* margin: 0 auto;
    width: 60%; */
    align-content: left;
    width: 60%;
    padding-left: 4vw;
}

.post-section .username, .ellipsis{
    display: inline;
}

.post{
    border:#f2f2f2;
    border-style: solid;
    border-width: 1em 0em;
    background: white;

}

.more:link, .more:visited, .more:active, .more:hover{
    text-decoration: none;
    color: darkblue;
}

.ellipsis{
    float: right;
}

.post-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bookmark{
    float: right;
}

.comment{
    display: flex;
    justify-content:flex-start;
}

.post .username, .comment-text{
    display:inline;
}
.comment-text{
    width:80%;
}

.comment-button{
    background-color: transparent;
    border: none;
    color:darkblue;
    padding-left: 2rem;    
}

/* MEDIA QUERIES */
 
 /* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: 767px) {
    .suggestions-section {
        display: none;
     }

    .stories{
        align-content:center;
        margin: 0 auto;
        width:60%;
    }

    .post-section{
        align-content: center;
        margin: 0 auto;
        width:60%;
    }

    .post{
        border-width: 0.5em 0em;
    }
 }