<div class="post-section">
    <!-- POST 1 -->
    <div class="post">
        <div class="post-head">
            <h4 class="username">Yisong</h4>
            <i class="fas fa-ellipsis-h ellipsis"></i>
        </div>
        <div>
            <img src="https://i.picsum.photos/id/39/300/200.jpg?hmac=YXzEPNgu1bNYap1RvJdbn7PBaRd7lTAkoz1dQ24Mwbo" class="post-img">
        </div>
        <div class="icons">
                <i class="far fa-heart"></i>
                <i class="far fa-comment"></i>
                <i class="far fa-paper-plane"></i>
                <i class="far fa-bookmark bookmark"></i>
        </div>
        <div>
            <b>2 Likes</b>
        </div>
        <div class="caption">
            <h4 class="username">Yisong</h4>
            <span>The first image illustrates how each card should look. The second image illustrates one way of nesting HTML elements to produce the desired effect (each HTML element is outlined). Feel free...</span>
            <a href ="" class="more">More</a>
        </div>
        <div>
            <h4 class="username">lizzie</h4> very good
        </div>
        <div>
            <h4 class="username">vanek</h4> not bad
        </div>
        <div><i>1 DAY AGO</i></div>
        <div class="comment">
            <i class="far fa-smile"></i>
            <textarea type="text" class="comment-text" placeholder="Write a comment"></textarea>
            <button type="button" class="comment-button">Post</button>
        </div>
    </div>
    <!-- POST 2 -->
    <div class="post">
        <div class="post-head">
            <h4 class="username">Yisong</h4>
            <i class="fas fa-ellipsis-h ellipsis"></i>
        </div>
        <div>
            <img src="https://i.picsum.photos/id/415/300/200.jpg?hmac=Tu3oe11ASyfwnJtPErr54SkHgu3ZQKGtPps4V-3ckYU" class="post-img">
        </div>
        <div class="icons">
                <i class="far fa-heart"></i>
                <i class="far fa-comment"></i>
                <i class="far fa-paper-plane"></i>
                <i class="far fa-bookmark bookmark"></i>
        </div>
        <div>
            <b>2 Likes</b>
        </div>
        <div class="caption">
            <h4 class="username">Yisong</h4>
            <span>The first image illustrates how each card should look. The second image illustrates one way of nesting HTML elements to produce the desired effect (each HTML element is outlined). Feel free...</span>
            <a href ="" class="more">More</a>
        </div>
        <div>
            <h4 class="username">lizzie</h4> very good
        </div>
        <div>
            <h4 class="username">vanek</h4> not bad
        </div>
        <div><i>1 DAY AGO</i></div>
        <div class="comment">
            <i class="far fa-smile"></i>
            <textarea type="text" class="comment-text" placeholder="Write a comment"></textarea>
            <button type="button" class="comment-button">Post</button>
        </div>
    </div>
    <!-- POST 3 -->
    <div class="post">
        <div class="post-head">
            <h4 class="username">Yisong</h4>
            <i class="fas fa-ellipsis-h ellipsis"></i>
        </div>
        <div>
            <img src="https://i.picsum.photos/id/130/300/200.jpg?hmac=JR5S7INkCpKPlC-wbuqF3U7zlZHwunJmKx4Q5IqbMfY" class="post-img">
        </div>
        <div class="icons">
                <i class="far fa-heart"></i>
                <i class="far fa-comment"></i>
                <i class="far fa-paper-plane"></i>
                <i class="far fa-bookmark bookmark"></i>
        </div>
        <div>
            <b>2 Likes</b>
        </div>
        <div class="caption">
            <h4 class="username">Yisong</h4>
            <span>The first image illustrates how each card should look. The second image illustrates one way of nesting HTML elements to produce the desired effect (each HTML element is outlined). Feel free...</span>
            <a href ="" class="more">More</a>
        </div>
        <div>
            <h4 class="username">lizzie</h4> very good
        </div>
        <div>
            <h4 class="username">vanek</h4> not bad
        </div>
        <div><i>1 DAY AGO</i></div>
        <div class="comment">
            <i class="far fa-smile"></i>
            <textarea type="text" class="comment-text" placeholder="Write a comment"></textarea>
            <button type="button" class="comment-button">Post</button>
        </div>
    </div>
    <!-- POST 4 -->
    <div class="post">
        <div class="post-head">
            <h4 class="username">Yisong</h4>
            <i class="fas fa-ellipsis-h ellipsis"></i>
        </div>
        <div>
            <img src="https://i.picsum.photos/id/844/300/200.jpg?hmac=nScDnrvjcq1VjYNAh6OKIR_tQdDSITIWW578WbADLgc" class="post-img">
        </div>
        <div class="icons">
                <i class="far fa-heart"></i>
                <i class="far fa-comment"></i>
                <i class="far fa-paper-plane"></i>
                <i class="far fa-bookmark bookmark"></i>
        </div>
        <div>
            <b>2 Likes</b>
        </div>
        <div class="caption">
            <h4 class="username">Yisong</h4>
            <span>The first image illustrates how each card should look. The second image illustrates one way of nesting HTML elements to produce the desired effect (each HTML element is outlined). Feel free...</span>
            <a href ="" class="more">More</a>
        </div>
        <div>
            <h4 class="username">lizzie</h4> very good
        </div>
        <div>
            <h4 class="username">vanek</h4> not bad
        </div>
        <div><i>1 DAY AGO</i></div>
        <div class="comment">
            <i class="far fa-smile"></i>
            <textarea type="text" class="comment-text" placeholder="Write a comment"></textarea>
            <button type="button" class="comment-button">Post</button>
        </div>
    </div>
    <!-- POST 5 -->
    <div class="post">
        <div class="post-head">
            <h4 class="username">Yisong</h4>
            <i class="fas fa-ellipsis-h ellipsis"></i>
        </div>
        <div>
            <img src="https://i.picsum.photos/id/791/300/200.jpg?hmac=LFABRkEsE-Bd6yUaoKbyit-58Lie-t9OJbjspKiTeiM" class="post-img">
        </div>
        <div class="icons">
                <i class="far fa-heart"></i>
                <i class="far fa-comment"></i>
                <i class="far fa-paper-plane"></i>
                <i class="far fa-bookmark bookmark"></i>
        </div>
        <div>
            <b>2 Likes</b>
        </div>
        <div class="caption">
            <h4 class="username">Yisong</h4>
            <span>The first image illustrates how each card should look. The second image illustrates one way of nesting HTML elements to produce the desired effect (each HTML element is outlined). Feel free...</span>
            <a href ="" class="more">More</a>
        </div>
        <div>
            <h4 class="username">lizzie</h4> very good
        </div>
        <div>
            <h4 class="username">vanek</h4> not bad
        </div>
        <div><i>1 DAY AGO</i></div>
        <div class="comment">
            <i class="far fa-smile"></i>
            <textarea type="text" class="comment-text" placeholder="Write a comment"></textarea>
            <button type="button" class="comment-button">Post</button>
        </div>
    </div>
</div>
</div>