<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Photo App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="container">
    <nav>
        <h1>Photo App</h1>
        <ul>
            <li><h4 class="username">Yisong</h4></li>
            <li><button type="button">Sign Out</button></li>
        </ul>
    </nav>
</body>