<div class="suggestions-section">
        <div id="personal">
            <img src="{{user.profile_url}}">
            <h4 class="username">{{user.username}}</h4>
        </div>
        <h3>Suggestions for you</h3>
        <ul class="suggested-accounts">
            {% for suggested_user in suggestions %}
            <li class="suggestion">
                <img src="{{suggested_user.profile_url}}">
                <span>
                    <div><h4 class="username">{{suggested_user.username}}</h4></div>
                    <div><i>suggested for you</i></div>
                </span>
                <span><button type="button" class="follow-button">follow</button></span>
            </li>
            {% endfor %}
        </ul>
    </div>