<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Photo App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="container">
    {%include 'includes/navbar.html'%}
    {%include 'includes/suggestions.html'%}
    {%include 'includes/stories.html'%}
    {%include 'includes/posts.html'%}
</body>
</html>


<!-- ADDING ALT TEXT:
    Similarly to what Twitter does, when a user wants to post an image, have a "description" box
    that can optionally be filled out before it is posted; if filled out this description will end up being added as alt-text.
 -->